<!doctype html>
<html lang="en">
	<head>
		<title>Intersys | Hosting</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="title" content="Intersys" />
		<meta name="keywords" content="intersys, web, hosting, hospedaje, cloud" />
		<meta name="description" content="Hospedaje web" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" href="media/css/style.css" type="text/css" media="all" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="media/js/script.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23840116-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script type="text/javascript">
			window.___gcfg = {lang: 'es'};
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		<script type="text/javascript" src="//platform.twitter.com/widgets.js">
		</script>
	</head>
	<body>
		<h1><big>Intersys</big><br/> <small>Hospedaje web</small></h1>

		<div id="tabs">
			<ul>
			<!--
				<li><a href="#tab-1">Demo</a></li>
			-->
			</ul>
			<div id="tab-1" class="tab">
		        <div id="switch"></div>
		        <div id="light-bulb" class="off"><div id="light-bulb2"></div></div>
		        <div id="logo"></div>
		        <div id="logosh"></div>
		        
			</div>
            
		<!-- nothing important below this line - only twitter & bananas -->
		<div id="twitter">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="www.intersys.mx" data-text="Hospedaje web" data-count="none" data-via="Intersys_mx">Tweet</a>
		</div>
		<div id="gplus">
			<g:plusone size="tall" annotation="none"></g:plusone>
		</div>
	</body>
</html>

