            .outer {
                width: 960px;
                color: navy;
                background-color: pink;
                border: 2px solid blue;
                padding: 5px;
            }
            .c {
                text-align: center;
            }
